/* general */

body {
    margin: 0;
    background-color: lightblue;
    font-family: sans-serif;
}

.btn {
    padding: 4pt 7pt;
    background: #c0d6db;
    font-size: 11pt;
    border: none;
    cursor: pointer;
    font-style: italic;
    transition: background 0.5s;
}

.btn:hover {
    background: #aaa;
}

.btn img {
    height: 10pt;
}

/* header bar */

#topnav {
    overflow: hidden;
    background-color: #e9e9e9;
}

#topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 10pt 11pt;
    text-decoration: none;
    font-size: 11pt;
    transition: background 0.5s;
}

#topnav a:hover {
    background-color: #aaa;
    color: black;
}

#topnav a:active {
    background-color: #2196F3;
    color: white;
}

#topnav .searchContainer {
    float: right;
}

#topnav input[type=text] {
    padding: 4pt;
    margin-top: 5pt;
    font-size: 11pt;
    border: none;
}

#topnav .searchContainer button {
    float: right;
    margin-top: 5pt;
    margin-right: 11pt;
}

@media screen and (max-width: 400pt) {
    #topnav .searchContainer {
        float: none;
    }
    #topnav a, #topnav input[type=text], #topnav .searchContainer button {
        float: none;
        display: block;
        text-align: left;
        width: 100%;
        margin: 0;
        padding: 10pt;
    }
    #topnav input[type=text] {
        border: 1pt solid #ccc;
    }
}

/* new article panel */

#newArticlePanel {
    position: relative;
    background: #152d44;
    color: #ddeeff;
    border-radius: 0 0 6pt 6pt;
    margin: 0 15pt 0 15pt;
    height: 0;
    overflow: hidden;
    transition: margin 1s, height 1s;
}

#newArticlePanel.visible {
    height: 200pt;
}

#newArticlePanelInner {
    position: absolute;
    left: 8pt;
    right: 8pt;
}

.newArticlePanelLabel {
    margin: 4pt 0 0 6pt;
}

.newArticlePanelFieldTitle,
.newArticlePanelFieldContent {
    background: rgba(255, 255, 255, 0.1);
    width: 100%;
    border: 0;
    color: #e2edff;
}

.newArticlePanelFieldContent {
    resize: none;
    height: 100pt;
    font-family: sans-serif;
    font-size: 0.85em;
}

#newArticlePanel .btn {
    background: #3c74ad;
    color: #ccdded;
}

#newArticlePanel .btn img {
    filter: invert(1);
}

#newArticlePanel .btn:hover {
    background: #1471d1;
}

/* article */

.articleHead {
    margin: 20pt 4pt 0 4pt;
    font-size: 1.4em;
    position: relative;
}

.articleHeadPanel {
    visibility: collapse;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 0.6em;
}

.articleHead:hover .articleHeadPanel {
    visibility: visible;
}

.articleContent {
    margin: 4pt;
    line-height: 1.3em;
}

.articleCreationDate,
.articleChangeDate {
    margin-left: 20pt;
    line-height: 0.9em;
    color: #72788a;
}
